# Simulated Solution to a Realworld Problem V2.0
- Make the generation of data a separate module (**New**)
- Support multiple data frames (**New**)
- Simulate the data using string, calendar, random, and numpy
- Tidy the data using Pandas melt() 
- Aggregate the data using Pandas groupby()
- Static visualization using matplotlib
- Interactive visualization using Plotly Express

In [1]:
import pandas as pd

import plotly
import plotly.express as px

import create_data

In [2]:
df_2017 = create_data.generate_data(weights=(75, 25), year="2017")
df_2018 = create_data.generate_data(weights=(60, 40), year="2018")
df_2019 = create_data.generate_data(weights=(35, 65), year="2019")

df = df_2017.append(df_2018).append(df_2019)
df.sample(5)

    January  February  March  April  ...  November  December  Agency  Year
25      0.0       0.0    1.0    0.0  ...       1.0       1.0       Z  2019
2       1.0       1.0    1.0    1.0  ...       0.0       0.0       C  2019
0       1.0       1.0    1.0    1.0  ...       1.0       1.0       A  2019
0       0.0       0.0    0.0    1.0  ...       0.0       0.0       A  2018
9       1.0       1.0    1.0    1.0  ...       1.0       1.0       J  2019

[5 rows x 14 columns]

## Tidy up the wide data to narrow data.

In [3]:
df = pd.melt(df, id_vars=["Agency","Year"], 
             value_vars=create_data.get_months(), 
             var_name="Month", 
             value_name='Reported', 
             col_level=None)

df.head()

  Agency  Year    Month  Reported
0      A  2017  January       0.0
1      B  2017  January       1.0
2      C  2017  January       0.0
3      D  2017  January       1.0
4      E  2017  January       0.0

In [4]:
df = df.groupby(["Year", "Month"]).agg("sum").reset_index()
df

    Year      Month  Reported
0   2017      April       8.0
1   2017     August       5.0
2   2017   December       6.0
3   2017   February       7.0
4   2017    January       7.0
5   2017       July       9.0
6   2017       June       7.0
7   2017      March       3.0
8   2017        May       4.0
9   2017   November       5.0
10  2017    October       5.0
11  2017  September       7.0
12  2018      April       9.0
13  2018     August       9.0
14  2018   December       9.0
15  2018   February       8.0
16  2018    January      11.0
17  2018       July      10.0
18  2018       June      11.0
19  2018      March      13.0
20  2018        May      15.0
21  2018   November       8.0
22  2018    October      10.0
23  2018  September      10.0
24  2019      April      22.0
25  2019     August      17.0
26  2019   December      15.0
27  2019   February      15.0
28  2019    January      14.0
29  2019       July      19.0
30  2019       June      17.0
31  2019      March      17.0
32  2019        May      17.0
33  2019   November      14.0
34  2019    October      20.0
35  2019  September      14.0

## Calculate and add the percentage as a new column

In [5]:
df["Percentage"] = round(df["Reported"] / 26 * 100, 2)

df

    Year      Month  Reported  Percentage
0   2017      April       8.0       30.77
1   2017     August       5.0       19.23
2   2017   December       6.0       23.08
3   2017   February       7.0       26.92
4   2017    January       7.0       26.92
5   2017       July       9.0       34.62
6   2017       June       7.0       26.92
7   2017      March       3.0       11.54
8   2017        May       4.0       15.38
9   2017   November       5.0       19.23
10  2017    October       5.0       19.23
11  2017  September       7.0       26.92
12  2018      April       9.0       34.62
13  2018     August       9.0       34.62
14  2018   December       9.0       34.62
15  2018   February       8.0       30.77
16  2018    January      11.0       42.31
17  2018       July      10.0       38.46
18  2018       June      11.0       42.31
19  2018      March      13.0       50.00
20  2018        May      15.0       57.69
21  2018   November       8.0       30.77
22  2018    October      10.0       38.46
23  2018  September      10.0       38.46
24  2019      April      22.0       84.62
25  2019     August      17.0       65.38
26  2019   December      15.0       57.69
27  2019   February      15.0       57.69
28  2019    January      14.0       53.85
29  2019       July      19.0       73.08
30  2019       June      17.0       65.38
31  2019      March      17.0       65.38
32  2019        May      17.0       65.38
33  2019   November      14.0       53.85
34  2019    October      20.0       76.92
35  2019  September      14.0       53.85

## Add the month_number as a new column
## It will be used to sort the data by month (from Jan to Dec)

In [6]:
df["Month_Number"] = df["Month"].map(create_data.get_months().index)

df

    Year      Month  Reported  Percentage  Month_Number
0   2017      April       8.0       30.77             3
1   2017     August       5.0       19.23             7
2   2017   December       6.0       23.08            11
3   2017   February       7.0       26.92             1
4   2017    January       7.0       26.92             0
5   2017       July       9.0       34.62             6
6   2017       June       7.0       26.92             5
7   2017      March       3.0       11.54             2
8   2017        May       4.0       15.38             4
9   2017   November       5.0       19.23            10
10  2017    October       5.0       19.23             9
11  2017  September       7.0       26.92             8
12  2018      April       9.0       34.62             3
13  2018     August       9.0       34.62             7
14  2018   December       9.0       34.62            11
15  2018   February       8.0       30.77             1
16  2018    January      11.0       42.31             0
17  2018       July      10.0       38.46             6
18  2018       June      11.0       42.31             5
19  2018      March      13.0       50.00             2
20  2018        May      15.0       57.69             4
21  2018   November       8.0       30.77            10
22  2018    October      10.0       38.46             9
23  2018  September      10.0       38.46             8
24  2019      April      22.0       84.62             3
25  2019     August      17.0       65.38             7
26  2019   December      15.0       57.69            11
27  2019   February      15.0       57.69             1
28  2019    January      14.0       53.85             0
29  2019       July      19.0       73.08             6
30  2019       June      17.0       65.38             5
31  2019      March      17.0       65.38             2
32  2019        May      17.0       65.38             4
33  2019   November      14.0       53.85            10
34  2019    October      20.0       76.92             9
35  2019  September      14.0       53.85             8

In [7]:
df.sort_values(by=['Year','Month_Number'], inplace=True)

df

    Year      Month  Reported  Percentage  Month_Number
4   2017    January       7.0       26.92             0
3   2017   February       7.0       26.92             1
7   2017      March       3.0       11.54             2
0   2017      April       8.0       30.77             3
8   2017        May       4.0       15.38             4
6   2017       June       7.0       26.92             5
5   2017       July       9.0       34.62             6
1   2017     August       5.0       19.23             7
11  2017  September       7.0       26.92             8
10  2017    October       5.0       19.23             9
9   2017   November       5.0       19.23            10
2   2017   December       6.0       23.08            11
16  2018    January      11.0       42.31             0
15  2018   February       8.0       30.77             1
19  2018      March      13.0       50.00             2
12  2018      April       9.0       34.62             3
20  2018        May      15.0       57.69             4
18  2018       June      11.0       42.31             5
17  2018       July      10.0       38.46             6
13  2018     August       9.0       34.62             7
23  2018  September      10.0       38.46             8
22  2018    October      10.0       38.46             9
21  2018   November       8.0       30.77            10
14  2018   December       9.0       34.62            11
28  2019    January      14.0       53.85             0
27  2019   February      15.0       57.69             1
31  2019      March      17.0       65.38             2
24  2019      April      22.0       84.62             3
32  2019        May      17.0       65.38             4
30  2019       June      17.0       65.38             5
29  2019       July      19.0       73.08             6
25  2019     August      17.0       65.38             7
35  2019  September      14.0       53.85             8
34  2019    October      20.0       76.92             9
33  2019   November      14.0       53.85            10
26  2019   December      15.0       57.69            11

## Use Pandas built-in plot for static visualization

In [8]:
#df.plot.line(x="Month", y="Percentage", colors="Year", figsize=(12,5))

## Use Plotly Express for interactive visualization

In [9]:
fig = px.line(df, x="Month", y="Percentage", color="Year", title="Percentage of Ones")

fig.show()

## The End!